body, html {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .content {
    flex-grow: 1;
    background-color: #f5f5f5; 
    overflow: auto;
  }
  
  footer {
    background-color: #333; 
    color: #fff; 
    text-align: center;
    padding: 10px 20px;
    flex-shrink: 0;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  