/* styles.css */
body {
  background: url('../src/assets//images/bg_4.jpg') no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif; 
overflow-x: hidden;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #fff; 
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}
